<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet href="/css/main.css">
<title>{{ .Title }}</title>
</head>
<header>
    <span><a href="/">home</a></span>
</header>
<body>
    {{- range first 10 .Data.Pages -}}
    <h4>{{ .Date.Format "2006/01/02" }} <a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    {{- end }}
<footer>
<a href="mailto:rene@compounddata.com">contact</a>
</footer>
</body>
</html>
